# Frontend Environment Variable
VITE_API_URL=http://localhost:5050

# Backend MongoDB Atlas Configuration
PORT=5050
MONGODB_URI=mongodb+srv://InfinityRun:Run_123@cluster0.gutqbpe.mongodb.net/infinity_run?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:3000

# JWT Secret Key & Admin Credentials
JWT_SECRET=infinity_run_super_secret_jwt_key_2026
ADMIN_DEFAULT_EMAIL=admin@infinityrun.com
ADMIN_DEFAULT_PASS=admin123
