PORT=5000
MONGODB_URI=mongodb+srv://<db_username>:Admin_123@cluster0.gutqbpe.mongodb.net/infinity_run?retryWrites=true&w=majority
FRONTEND_URL=https://marathon-website-8fi8-f8vki5isc-1hatans-projects.vercel.app
JWT_SECRET=infinity_run_super_secret_jwt_key_2026
ADMIN_DEFAULT_EMAIL=admin@infinityrun.com
ADMIN_DEFAULT_PASS=admin123
