PORT=5050
MONGODB_URI=mongodb+srv://InfinityRun:Run_123@cluster0.gutqbpe.mongodb.net/infinity_run?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:3000
JWT_SECRET=infinity_run_super_secret_jwt_key_2026
ADMIN_DEFAULT_EMAIL=admin@infinityrun.com
ADMIN_DEFAULT_PASS=admin123
RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET
